@import "tailwindcss";

a {
  text-decoration: none;
}

.animate-spin-slow {
  animation: spin 60s linear infinite;
}
.animate-spin-slower {
  animation: spin 70s linear infinite;
}
.animate-spin-slowest {
  animation: spin 80s linear infinite;
}
